body,html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    margin: 0;
}

.root {
    /* nåt skit här här*/
    width: 100%;
    background-color: burlywood;
}

.hero-title {
    margin-top: 5rem;
    h1 {
        font-size: 4rem;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-size: 3rem;
        display: flex;
        justify-content: center;
    }
}

.entry-screen {
    height: 100vh;
    background-image: url("../images/DYNAMiTE.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-content {
    height: 40vh;
    max-width: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
}

.album-art {
    margin: 5rem;
    background-color: burlywood;


    .album-info {
        display: flex;
        flex-direction: column;
    
        img {
            pointer-events: none;
            user-select: none;
        }
    }

    .album-title-text {
        font-size: 1.6rem;
        text-align: center;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    .album-info-text {
        font-size: 1rem;
    }
    button {
        text-decoration: none;
        border: none;
        background: burlywood;
    }
}



.hidden-info {
    display: none;
}

.cover:hover + .hidden-info {
    display: block;
    color: cadetblue;
}

